<html>

  <head>
    <title>Modifica feed</title>
    <style type="text/css">body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>
  </head>
  
  <body>
  
    <div class="dialog">
      <div class="title">
        <h1><b>Modifica il tuo feed</b></h1>
      </div>
      <%= render 'form' %>
		</div>

	  <div class="document" align="center">
      <div class="my-bubble">
  	    <%= link_to 'Mostra', @feed %> |
        <%= link_to 'Indietro', :back %>
      </div>
    </div>
    
  </body>
  
</html>
