<html>

  <title>Modifica feed</title>

  <body>

  <div class="dialog">
    <h1><b>Modifica il tuo feed</b></h1>
  </div>

	  <%= render 'form' %>
		
	<div class="sheet">
	  <%= link_to 'Mostra', @feed %> |
    <%= link_to 'Home', feeds_path %>
  </div>
  
  </body>

</html>
