<html>

  <head>
    <title>Nuovo Feed</title>
    <style type="text/css">body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>
  </head>
  
  <body>	

    <div class="dialog">
      <h1><b>Nuovo feed</b></h1> 
    </div>

    <%= render 'form' %>

    <div class="sheet">
      <%= link_to 'Indietro', :back %>
    </div>
	  
  </body>

</html>
