<html>

<style>
    a:link 
    { 
      color: #A60000;
    }

    a:visited 
    { 
      color: #A60000;
    }
</style>

<title>Visualizza Feed</title>

<body>

    <div class="dialog">
		  <h1><b>Visualizza Feed:</b></h1>
		</div>
		
		<div class="form_box">
		  <h3><b>Feed:</b></h3>
      <%= @feed.feed_text %>
      <h3><b>Data di pubblicazione:</b></h3>
      <%= @feed.date %><br><br>  
    </div>
    
    <p>
      <% if @feed.user_id == current_user.id %>
        <%= link_to 'Modifica', edit_feed_path(@feed) %> |        
      <% end %>  
        
      <%= link_to 'Indietro', feeds_path %>
    </p>
    
    
</body>
</html>
