<!DOCTYPE html>
<html>

  <head>
    <title>La Grande Guerra</title>
    <style type="text/css"> body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>
  </head>  

  <body>
  
    <div class="dialog">
    
      <div class="title">
        <h1><b>La Grande Guerra</b></h1>
      </div>
      <div class="post-text">
        Testo
      </div>
      
      <div class="dochead">
        <span class="dhead">testo</span>
      </div> 
      
    </div>
        
  
  
  </body>
        
</html>
