// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .homeTitle
  {
    margin: 0 -4%;
    padding: 0.5% 0;
                   
    font: 2.5em Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
      
    background-color: #6F9292;
    
    border-radius: 5px;  
    /*border: 1px solid red; /* debug red */
  }
  
  .homeTextRx
  {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: -4%;
    padding: 1% 2%;
                
    font: 1.2em Arial, Courier, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
      
    background-color: #99CCCC;
    
    border-radius: 5px;  
    /*border: 1px solid red; /* debug red */ 
  }
  
  .homeTextLx
  {
    margin-top: 2%;
    margin-left: -4%;
    margin-right: 4%;
    padding: 2% 2%;
                
    font: 1.2em Arial, Courier, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
      
    background-color: #99CCCC;
    
    border-radius: 5px;  
    /*border: 1px solid red; /* debug red */ 
  }
     
  .homeImageRx
  {
    height: 100px;
    width: 100px;
    
    margin-top: 2%;
    margin-left: 60%;
    
    background-size: cover; 
    repeat: no-repeat;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid red; /* debug red */
  }   
    
  .homeImageLx
  {
    height: 100px;
    width: 100px;
    
    margin-top: 2%;
    margin-left: -4%;
    
    background-size: cover; 
    repeat: no-repeat;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid red; /* debug red */
  }   
    
  .homeHeadRx
  {
    max-width: 40%;
    margin-left: 60%;
    margin-right: -4%;
     
    padding: 2%;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
           
    background-color: #99CCCC;
    
    font: 1.5em Tahoma, Geneva, sans-serif;
      
    /*border: 1px solid red; /* debug red */ 
  }

  .homeHeadLx
  {
    max-width: 40%;
    margin-left: -4%;
     
    padding: 2%;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
           
    background-color: #99CCCC;
    
    font: 1.5em Tahoma, Geneva, sans-serif;
      
    /*border: 1px solid red; /* debug red */ 
  }
  
  .homeGradeRx
  {
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-left: 60%;
    
    font: 1.2em Tahoma, Geneva, sans-serif;
    text-align: left;
               
    /*border: 1px solid red; /* debug red */ 
  }
    
  .homeGradeLx
  {
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-left: 2%;
    
    font: 1.2em Tahoma, Geneva, sans-serif;
    text-align: left;
               
    /*border: 1px solid red; /* debug red */ 
  }
    
