    /*-------------Start-header-section-------------*/
    
    body
    {
      margin-top: 7em;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
        
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
      /*border: 1px solid red; /* debug red */
    }
    
    h1
    {
      font-family: Arial, Courier;
      color: #324B4B;
      font-size: 170%;
    }

    .header
    {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 6em;
                  
      background-color: white;
    
      box-shadow:0 3px 8px rgba(50, 50, 50, 0.15);
      font-family: Arial, Courier;
      
      /*border: 1px solid red; /* debug red */
    }
    
    .h-left
    {
      float: left;
      margin: 0.5em 4em;
        
      /*border: 1px solid red; /* debug red */ 
    }
      
    .h-right
    {
      float:right;
      margin-top: 3em;
      margin-right: 2em;
        
      /*border: 1px solid red; /* debug red */ 
    }
    
    .dialog
    {
      margin-right: 29%;
      margin-left: 29%;
      margin-bottom: 0.4em;
      
      padding: 1em 2em;
      
      border: 1px solid #999;
      
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
      background-color: #F5F5F5;
      
      color: #324B4B;
      text-align: center;
      font-family: Arial, Courier;
      word-wrap: break-word;
      
      /*border: 1px solid red; /* debug red */
    }
    
    .text-box
    {
      width: 90%;
      height: 6em;
      
      /*border: 1px solid red; /* debug red */
    }

    /*-------------End-header-section-------------*/

    .document
    {
      margin: 0.8em 29%; 
      padding-top: 2em;
      padding-bottom: 4em;
      padding-left: 1em;
      padding-right: 1em;
      
      background-color:#F5F5F5;
      
      /*border: 1px solid red; /* debug red */
    }

    .dochead
    {
      height: 2em;
      max-width: 60%;
      margin-left: -1em;
      margin-bottom: 0.1em;
           
      background-color:#6F9292;
      font: 2em Tahoma, Geneva, sans-serif;
      color: #324B4B;
      
      /*border: 1px solid red; /* debug red */ 
    }

    .dochead span
    {
      margin-left: 0.5em;
      
      /*border: 1px solid red; /* debug red */  
    }

    .post
    {
      margin-top: 0.2em;
      margin-left: 0;
      margin-bottom: 1em;
      
      color:#656565;
      font: 0.8em Tahoma, Geneva, sans-serif;
                
      /*border: 1px solid red; /* debug red */ 
    }

    
    .bubble
    {
      float: left;
      margin-top: 0.5em;
      padding: 0.5em;
            
      background-color: #6F9292;
       
      font: 1.1em Arial, Courier, sans-serif;
      text-align: center;
      font-weight: bold;
      word-wrap: break-word;
              
      /*border: 1px solid red; /* debug red */
    }
    
    .dhead
    {
      line-height: 2em;
      
      /*border: 1px solid red; /* debug red */ 
    }

    .image-box
    {
      height:75px;
      width: 75px;
      margin-left: -2em;
      
      /*border: 1px solid red; /* debug red */
    }

    .title
    {
      margin-top: 1em;    
      margin-left: -2em;
      margin-right: -2em;
          
      font: 2em Tahoma, Geneva, sans-serif;
      text-align: center;
      word-wrap: break-word;
      
      background-color: #99CCCC;
      
      /*border: 1px solid red; /* debug red */
    }
    
    
    .post-text
    {
      margin-top: 0.8em;
      margin-bottom: 0.5em;
      margin-left: 2em;
      margin-right: -2em;
      
      padding: 0.5em;
            
      font: 1.2em Arial, Courier, sans-serif;
      color: #324B4B;
      text-align: left;
      word-wrap: break-word;
      
      background-color:#99CCCC;
      
      /*border: 1px solid red; /* debug red */ 
    }
 
    /*------------------------------------*/

    a:link 
    {
      color: #324B4B;
      text-decoration: none;
    }
    
    a:visited 
    
    {
      text-decoration: none;
      color: #324B4B;
    }
    
    a:hover 
    {
      text-decoration: none;
      color: #324B4B;
    }
    
    a:active 
    {
      text-decoration: none;
      color: #324B4B;
    }
