/*-------------Start-header-section-------------*/
       
    .home-link
    {
      font-size: 1.5em;
    }

    .header
    {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 6em;
      
      padding: 1em;
                  
      background-color: white;
    
      box-shadow:0 3px 8px rgba(50, 50, 50, 0.15);
      font-family: Arial, Courier;
      
      /*border: 1px solid red; /* debug red */
    }
    
    .h-left
    {
      float: left;
      margin: 0.5em 4em;
        
      /*border: 1px solid red; /* debug red */ 
    }
      
    .h-right
    {
      float:right;
      margin-top: 3em;
      margin-right: 2em;
        
      /*border: 1px solid red; /* debug red */ 
    }

/*-------------End-header-section-------------*/
/*-------------Start-dialog-section-----------*/
    
    .dialog
    {
      margin: 0.4em 29%;
      
      padding-top: 0.1em;
      padding-bottom: 0.5em;
            
      border-radius: 3px;
            
      background-color: #F5F5F5;
      
      color: #324B4B;
      text-align: center;
      font-family: Arial, Courier;
      word-wrap: break-word;
      
      /*border: 1px solid red; /* debug red */
    }
    
    .title
    {
      margin: 0.1em -2em;
      
      border-radius: 5px;
             
      font: 2em Tahoma, Geneva, sans-serif;
      text-align: center;
      word-wrap: break-word;
      
      background-color: #99CCCC;
      
      /*border: 1px solid red; /* debug red */
    }
    
    .text-box
    {
      width: 80%;
      height: 6em;
                    
      /*border: 1px solid red; /* debug red */
    }
    
/*-------------End-dialog-section-------------*/ 
/*-------------Start-main/feed-section--------*/

    .document
    {
      margin: 0.8em 29%; 
      padding-top: 2em;
      padding-bottom: 4em;
      padding-left: 1em;
      padding-right: 1em;
      
      border-radius: 2px;
            
      background-color:#F5F5F5;
      
      /*border: 1px solid red; /* debug red */
    }
    
    .image-box
    {
      height:75px;
      width: 75px;
      margin-left: -2em;
      
      /*border: 1px solid red; /* debug red */
    }   
    
    .dochead
    {
      height: 2em;
      max-width: 60%;
      margin-left: -1em;
      margin-bottom: 0.1em;
      
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
           
      background-color:#6F9292;
      font: 2em Tahoma, Geneva, sans-serif;
      color: #324B4B;
      
      /*border: 1px solid red; /* debug red */ 
    }

    .dochead span
    {
      margin-left: 0.5em;
      
      /*border: 1px solid red; /* debug red */  
    }
    
    .dhead
    {
      line-height: 2em;
      
      /*border: 1px solid red; /* debug red */ 
    }

    .post-date
    {
      margin-top: 0.2em;
      margin-left: 0;
      margin-bottom: 1em;
      
      color:#656565;
      font: 0.8em Tahoma, Geneva, sans-serif;
                
      /*border: 1px solid red; /* debug red */ 
    }
       
    .post-text
    {
      margin-top: 0.8em;
      margin-bottom: 0.5em;
      margin-left: 2em;
      margin-right: -2em; 
      padding: 0.5em;
      border-radius: 4px;
            
      font: 1.2em Arial, Courier, sans-serif;
      color: #324B4B;
      text-align: left;
      word-wrap: break-word;
      
      background-color:#99CCCC;
      
      /*border: 1px solid red; /* debug red */ 
    }
    
    .bubble
    {
      float: left;
      margin-top: 0.5em;
      padding: 0.5em;
       
      border-radius: 4px;
            
      background-color: #6F9292;
       
      font: 1.1em Arial, Courier, sans-serif;
      text-align: center;
      font-weight: bold;
      word-wrap: break-word;
              
      /*border: 1px solid red; /* debug red */
    }
     
     
    .form-box
    {
      margin-top: 0.8em;
      margin-bottom: 0.5em;
      margin-left: 2em;
      margin-right: -2em;
      
      padding: 0.5em;
      
      border-radius: 5px;
            
      font: 1.2em Arial, Courier, sans-serif;
      color: #324B4B;
      text-align: right;
      word-wrap: break-word;
      
      background-color:#99CCCC;
      
      /*border: 1px solid red; /* debug red */ 
    }

/*-------------End-main/feed-section----------*/ 
/*-------------Start-form-section-------------*/
    
    .form-box ul
    {
      list-style-type: none;
    }

/*------------End-form-section----------------*/

