<p>Ciao <%= @resource.email %>!</p>

<p>
Qualcuno ci ha inviato una richiesta per cambiare la tua password.<br> 
Se sei stato tu, puoi farlo tramite il link in basso.
</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai effettuato tu questa richiesta puoi ignorare questa e-mail.</p>
<p>La tua password non verra' aggiornata finche' tu non la modificerai tramite il link.</p>
