<html>
  
  <title>Missione</title>
  
  <style type="text/css">
    body
    {
      background-image: url(<%= asset_path 'background.jpg' %>);
    }
  </style>

  <body>

    <div class="dialog">
      <h1><b>La Nostra Missione</b></h1>
    </div>
		
    <div class="sheet">
       <br>Questo sito si pone la sfida di dimostrare che anche i ragazzi italiani sono in grado di immettersi nel mondo del lavoro in campo informatico, dando non solo un assaggio di quello che sarà il mondo degli sviluppatori, ma anche una marcia in più per occasioni future.<br><br>
    </div>
    
    <div class="sheet">
      <%= link_to 'Indietro', :back %>
    </div>
    
    
  </body>
  
</html>
